.advantage {
  &__title {
    text-align: center;
    font-size: 36px;
    line-height: 60px;
  }

  &__list {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    list-style: none;
  }
}

.advantage__image {
  &--leaf {
    height: 60px;
    width: 60px;
    background-image: url("../img/advantage-leaf@1x.png");
    background-color: #68b738;
    background-repeat: no-repeat;
  }

  &--powder {
    height: 60px;
    width: 60px;
    background-image: url("../img/advantage-powder@1x.png");
    background-color: #68b738;
    background-repeat: no-repeat;
  }

  &--dining {
    height: 60px;
    width: 60px;
    background-image: url("../img/advantage-dining@1x.png");
    background-color: #68b738;
    background-repeat: no-repeat;
  }

  &--clock {
    height: 60px;
    width: 60px;
    background-image: url("../img/advantage-clock@1x.png");
    background-color: #68b738;
    background-repeat: no-repeat;
  }
}
