.advantage__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  margin-top: 16px;
}

.advantage__list {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  list-style: none;
  padding: 0;
}

.advantage__item {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advantage__item-pic {
  background-color: $advantage_bg_color;
  width: 84px;
  height: 60px;
  margin-right: 20px;

  &--leaf {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--powder {
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--dining {
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--clock {
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.advantage__item-text {
  margin: 0;
  width: 100%;
}


@media (min-width: $tablet-width) {
  .advantage {
    padding: 0 10px;
  }

  .advantage__title {
    text-align: left;
    font-size: 60px;
    font-weight: 400;
    margin-top: 47px;
  }

  .advantage__container {
    display: flex;
    flex-direction: row;
  }

  .advantage__item-pic {
    width: 80px;
    height: 80px;
  }

  .advantage__list {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantage__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 230px;
    height: 230px;
    margin: 5px 95px 83px 0;

    &--leaf::before {
      content: "1";
      position: absolute;
      font-family: $main_font;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      opacity: 0.1;
      left: 120px;
      top: -40px;
    }

    &--powder::before {
      content: "2";
      position: absolute;
      font-family: $main_font;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      opacity: 0.1;
      left: 110px;
      top: -40px;
    }

    &--dining {
      margin: 0;
    }

    &--clock {
      margin-bottom: 0;
    }

    &--dining::before {
      content: "3";
      position: absolute;
      font-family: $main_font;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      opacity: 0.1;
      left: 110px;
      top: -40px;
    }

    &--clock::before {
      content: "4";
      position: absolute;
      font-family: $main_font;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      opacity: 0.1;
      left: 110px;
      top: -40px;
    }
  }

  .advantage__item-text {
    margin-top: -12px;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    padding: 0;
  }

  .advantage__title {
    margin-top: 45px;
  }

  .advantage__item {
    margin: 5px 0 0 0;
  }

  .advantage__item-text {
    margin-top: -15px;
  }

  .advantage__list {
    width: 100%;
  }
}
