.advantage__title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.advantage__list {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage__item {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advantage__item-pic {
  background-color: $advantage_bg_color;
  width: 80px;
  height: 60px;
  margin-right: 20px;

  &--leaf {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--powder {
    background-image: url("../img/advantage-powder@1x.png");

    background-repeat: no-repeat;
    background-position: center;
  }

  &--dining {
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--clock {
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.advantage__item-text {
  margin: 0;
  width: 100%;
}


@media (min-width: $tablet-width) {
  .advantage__title {
    text-align: left;
    font-size: 60px;
    font-weight: 400;
  }

  .advantage__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .advantage__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantage__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 230px;
  }

  .advantage__item-pic {
    width: 80px;
    height: 80px;
  }

  .advantage__item-text {
    margin: 20px 0 120px 0;
  }
}

@media (min-width: $desktop-width) {
  .advantage__item {
    width: 245px;
    height: 190px;
    justify-content: space-between;
  }

  .advantage__item-text {
    margin-right: 20px;
  }

  .advantage__container {
    display: block;
  }
}
