.catalog {
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog__wrapper {
  border-bottom: 1px solid #d9d9d9;
  padding: 0 20px 0 20px;
}

.catalog__header {
  font-size: 36px;
  font-weight: 400;
  padding: 38px 20px 48px 20px;
  margin: 28px 0 0 0;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}

.catalog__item-block-wrapper {
  width: 50%;
  margin-top: 20px;
}

.catalog__item-image {
  width: 50%;
}

.catalog__item-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog__info,
.catalog__value {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__item-name {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 16px;
  line-height: 20px;
  width: 80px;
  margin: 0;
  word-wrap: break-word;
}

.catalog__info-block {
  margin-top: 12px;
  margin-bottom: 5px;
}

.catalog__info-block-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
}

.catalog__more {
  padding: 0 20px;
  border-bottom: 1px solid #d9d9d9;
}

.catalog__more-img {
  padding-top: 25px;
  padding-bottom: 3px;
}

.catalog__more-plus {
  text-align: center;
}

.catalog__more-show {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 20px 0 0 0;
}

.catalog__more-text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 7px 0 0 0;
  padding-bottom: 19px;
}

.catalog__block-link {
  margin-top: -2px;
  padding-bottom: 25px;
}

.catalog__order {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $main_text_color;
  text-decoration: none;
  background-color: #68b738;
  padding: 10px 110px 10px 110px;
  margin: 0 auto;

  &:hover {
    background-color: #5eaa2e;
  }

  &:active {
    background-color: #5eaa2e;
    color: #91c884;
  }
}

.catalog__view-more {
  padding-bottom: 25px;
}

.catalog__view-more-link {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 94px 10px 94px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: #c3c3c3;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
    margin: 0 auto;
  }

  .catalog__header-wrap {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .catalog__header {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    border: none;
    margin: 18px 0 0 10px;
  }

  .catalog__wrapper {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    margin: 118px 0 23px 0;
    height: 430px;
    border: none;
  }

  .catalog__item-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    position: relative;
  }

  .catalog__info,
  .catalog__value {
    font-size: 16px;
  }

  .catalog__item-name {
    font-size: 20px;
    line-height: 20px;
    width: 150px;
    margin-left: -10px;
  }

  .catalog__item-block-wrapper {
    padding: 0 37px;
    width: 80%;
  }

  .catalog__item-block {
    text-align: center;
    margin-top: 142px;
  }

  .catalog__item-image {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    top: -85px;
    width: 100%;
    height: 190px;

    &--small {
      top: -48px;
    }
  }

  .catalog__info-block {
    margin-top: 27px;
  }

  .catalog__info-block-about {
    font-size: 16px;
    line-height: 16px;
    width: 250px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 7px;
    margin-bottom: 8px;
  }

  .catalog__block-link {
    margin-top: 0;
    padding-bottom: 25px;
  }

  .catalog__order {
    display: inline-block;
    padding: 10px 94px 10px 94px;
    margin: 25px 0 0 38px;
  }

  .catalog__more {
    height: 430px;
    border: 1px solid #d9d9d9;
    margin-top: 118px;
    padding: 0 36px 0 36px;
  }

  .catalog__more-wrap {
    width: 250px;
  }

  .catalog__more-img {
    text-align: center;
    padding: 0;
    position: relative;
    width: 60px;
    height: 60px;
    top: 51px;
  }

  .catalog__more-show {
    font-size: 20px;
    width: 150px;
    margin: 100px 0 0 51px;
  }

  .catalog__more-text {
    font-size: 16px;
    line-height: 17px;
    width: 220px;
    margin: 27px 0 0 15px;
  }

  .catalog__view-more {
    margin-top: 70px;
    padding: 0;
  }

  .catalog__view-more-link {
    padding: 10px 75px 10px 75px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    justify-content: flex-start;
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .catalog__header {
    margin: 77px 0 47px 0;
    padding: 0;
  }

  .catalog__item-name {
    margin-left: 4px;
    margin-bottom: 1px;
  }

  .catalog__item-block-wrapper {
    padding: 0 37px;
    width: 70%;
  }

  .catalog__info-block-about {
    width: 170px;
  }

  .catalog__order {
    margin-top: 26px;
    padding: 10px 54px 10px 54px;
  }

  .catalog__wrapper {
    padding: 0;
    border: 0;
    margin-right: 80px;
    margin-bottom: 25px;
  }

  .catalog__wrapper:nth-child(5n) {
    margin-right: 0;
  }

  .catalog__more {
    height: 430px;
    border: 1px solid #d9d9d9;
    margin-top: 118px;
    padding: 0;
  }

  .catalog__more-show {
    font-size: 20px;
    width: 150px;
    margin: 0 auto;
    padding-top: 102px;
  }

  .catalog__more-wrap {
    width: 100%;
  }

  .catalog__more-text {
    font-size: 16px;
    line-height: 17px;
    width: 220px;
    margin: 0 auto;
    padding: 26px 13px 0 13px;
  }

  .catalog__view-more {
    margin: 0 auto;
    padding: 90px 38px 0 38px;
    text-align: center;
  }

  .catalog__view-more-link {
    padding: 10px 20px 10px 20px;
  }

  .catalog__more-about {
    margin: 0 auto;
  }

  .catalog__item-image {
    top: -79px;
    left: 0;

    &--small {
      top: -45px;
    }
  }
}
