.catalog__wrapper {
  border-top: 1px solid #d9d9d9;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 20px;
}

.catalog__item-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog__wrapper:nth-child(2) {
  margin-bottom: 15px;
}

.catalog__wrapper:nth-child(3) {
  margin-bottom: 13px;
}

.catalog__wrapper:nth-child(4) {
  margin-bottom: 14px;
}

.catalog__wrapper:nth-child(5) {
  margin-bottom: 14px;
}

.catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__header {
  font-size: 36px;
  font-weight: 400;
  margin: 54px 0 40px 20px;
}

.catalog__info,
.catalog__value {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__item--name,
.catalog__item--more {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.catalog__info-block {
  margin-top: 17px;
}

.catalog__item-block {
  margin-top: 24px;
}

.catalog__info-block-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
}

.catalog__more {
  margin-top: 10px;
  padding: 0 20px;
  padding-bottom: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.catalog__more-img {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 3px;
  border-top: 1px solid #d9d9d9;
}

.catalog__more-plus {
  margin-top: 10px;
  margin-left: 60px;
}

.catalog__more-show {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.catalog__more-text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: -7px;
  padding-bottom: 19px;
}

.catalog__order {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $main_text_color;
  text-decoration: none;
  background-color: #68b738;
  padding: 10px 110px 10px 110px;
}

.catalog__view-more-link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 95px 10px 95px;
}

@media (min-width: $tablet-width) {
  .catalog {
    flex-direction: row;
    padding: 0 10px;
  }

  .catalog__header {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-top: 55px;
    margin-left: 10px;
  }

  .catalog__wrapper {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    margin-top: 125px;
    width: 325px;
    height: 430px;
    border: none;
  }

  .catalog__item-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    position: relative;
  }

  .catalog__info,
  .catalog__value {
    font-size: 16px;
  }

  .catalog__item--name,
  .catalog__item--more {
    font-size: 20px;
    line-height: 20px;
  }

  .catalog__item-block {
    margin-top: 163px;
    text-align: center;
  }

  .catalog__item-image {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    top: -85px;

    &--small {
      top: -48px;
    }
  }

  .catalog__info-block {
    margin-top: 27px;
  }

  .catalog__info-block-about {
    font-size: 16px;
    line-height: 16px;
    width: 250px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 7px;
    margin-bottom: 8px;
  }

  .catalog__wrapper:nth-child(2),
  .catalog__wrapper:nth-child(3),
  .catalog__wrapper:nth-child(4),
  .catalog__wrapper:nth-child(5) {
    margin-bottom: 15px;
  }

  .catalog__order {
    padding: 10px 94px 10px 94px;
    margin: 25px 0 0 38px;
  }

  .catalog__more {
    height: 430px;
    border: 1px solid #d9d9d9;
    margin-top: 125px;
    padding: 0 36px 0 36px;
  }

  .catalog__more-plus {
    width: 60px;
    height: 60px;
    position: relative;
    top: 20px;
    left: -15px;
  }

  .catalog__more-wrap {
    width: 250px;
  }

  .catalog__more-img {
    text-align: center;
    padding: 0;
    border: none;
  }

  .catalog__more-show {
    font-size: 20px;
    width: 150px;
    margin: 105px 0 0 51px;
  }

  .catalog__more-text {
    font-size: 16px;
    line-height: 17px;
    width: 220px;
    margin: 27px 0 0 15px;
  }

  .catalog__view-more {
    margin-top: 77px;
  }

  .catalog__view-more-link {
    padding: 10px 75px 10px 75px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0;
  }

  .catalog__header {
    margin: 85px 0 40px 0;
  }

  .catalog__info-block-about {
    width: 170px;
  }

  .catalog__order {
    padding: 10px 54px 10px 54px;
  }

  .catalog__wrapper {
    width: 245px;
    padding: 0;
    margin-right: 0;
    border: 0;
  }

  .catalog__info-block-about:nth-child(2),
  .catalog__info-block-about:nth-child(3) {
    margin-top: 8px;
  }

  .catalog__more {
    height: 430px;
    border: 1px solid #d9d9d9;
    margin-top: 125px;
    padding: 0;
  }

  .catalog__more-show {
    font-size: 20px;
    width: 150px;
    margin: 90px 0 0 51px;
  }

  .catalog__more-wrap {
    width: 250px;
  }

  .catalog__more-img {
    text-align: center;
    padding: 0;
    border: none;
  }

  .catalog__more-text {
    font-size: 16px;
    line-height: 17px;
    width: 220px;
    margin: 27px 0 0 15px;
  }

  .catalog__view-more {
    margin-top: 77px;
  }

  .catalog__view-more-link {
    margin-left: 25px;
    padding: 10px 54px 10px 54px;
  }
}
