.example {
  padding: 0 20px;
}

.example__container {
  margin-top: 20px;
}

.example__container-slim,
.example__container-pro {
  background-color: $example_bg_color;
  padding: 15px 20px 22px 20px;
  position: relative;
}

.example__item-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  margin-left: 70px;
  margin-bottom: 40px;
}

.example__item-describe {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.example__container-slim::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 30px;
}

.example__container-slim::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  top: 25px;
  left: 23px;
}

.example__container-pro::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  width: 70px;
  height: 50px;
  top: 35px;
  left: 13px;
}

.example__container-pro::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  top: 25px;
  left: 20px;
}

.example__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: black;
}

.example__item-link-block {
  padding-top: 3px;
}

.example__link-arrow {
  margin-left: 10px;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 0 30px;
  }

  .example__container-slim,
  .example__container-pro {
    padding: 76px 0 62px 52px;
  }

  .example__item-title {
    font-size: 36px;
    line-height: 37px;
    font-weight: 400;
    margin: 0 0 25px 0;
  }

  .example__item-describe {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 33px;
    border: none;

    &--slim {
      width: 380px;
    }

    &--pro {
      width: 340px;
    }
  }

  .example__link {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }

  .example__container {
    margin-bottom: 30px;
  }

  .example__container-slim::after {
    width: 150px;
    height: 195px;
    top: 80px;
    left: 475px;
  }

  .example__container-slim::before {
    width: 200px;
    height: 200px;
    top: 90px;
    left: 445px;
  }

  .example__container-pro::after {
    width: 273px;
    height: 120px;
    top: 135px;
    left: 409px;
  }

  .example__container-pro::before {
    width: 200px;
    height: 200px;
    top: 90px;
    left: 450px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
  }

  .example__container-slim,
  .example__container-pro {
    padding: 76px 55px 61px 55px;
  }

  .example__item-describe {
    margin-top: 75px;

    &--slim {
      width: 465px;
    }

    &--pro {
      width: 465px;
    }
  }

  .example__item-link-block {
    padding: 0;
    margin-top: -5px;
  }

  .example__item-title {
    margin-left: 162px;
  }

  .example__container-slim::after {
    width: 70px;
    height: 95px;
    top: 50px;
    left: 100px;
  }

  .example__container-slim::before {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 80px;
  }

  .example__container-pro::after {
    width: 136px;
    height: 56px;
    top: 70px;
    left: 50px;
  }

  .example__container-pro::before {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 80px;
  }
}
