.example-check__wrap {
  margin-top: 24px;
}

.example-check {
  list-style: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 0 0 25px 0;
  margin: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.example-check__label {
  display: block;
  position: relative;
  cursor: pointer;
  margin-top: 26px;
  margin-left: 65px;
}

.example-check__input + label::before {
  content: "";
  position: absolute;
  background-color: white;
  background-clip: content-box;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  top: -7px;
  left: -45px;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .example-check__wrap {
    margin-top: 73px;
    border: 1px solid #d9d9d9;
  }

  .example-check {
    font-size: 20px;
    line-height: 20px;
    border: none;
    padding: 0;
  }

  .example-check__label {
    margin: 34px 0 33px 85px;
  }

  .example-check__input + label::before {
    content: "";
    position: absolute;
    background-color: white;
    background-clip: content-box;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    top: -10px;
    left: -56px;
  }
}

@media (min-width: $desktop-width) {
  .example-check__wrap {
    margin-top: 67px;
    width: 570px;
    height: 194px;
  }
}
