.live-example {
  background-color: $live-example_bg_color;
  padding: 0 20px;
}

.live-example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 60px;
}

.live-example__text {
  font-family: $live-example_font;
  font-size: 14px;
  line-height: 18px;
  margin-top: -7px;
  margin-right: 5px;
}

.live-example__costs {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 17px 0 40px 47px;
}


.live-example__result-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.live-example__result-info {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  margin: 14px 0 0 13px;
  padding: 10px 22px 10px 30px;
  text-align: center;
}

.live-example__result-subinfo {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin-left: 33px;
}

.live-example__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &--scale {
    height: 85px;
    color: #d9d9d9;
    width: 100px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.live-example__logo-example {
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .live-example {
    background-color: white;
    padding: 0 10px;
  }

  .live-example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 70px 0;
  }

  .live-example__text {
    width: 700px;
    font-size: 16px;
    line-height: 24px;
  }

  .live-example__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .live-example__costs {
    font-size: 20px;
    text-align: right;
    width: 160px;
  }

  .live-example__result-info {
    margin-right: 40px;
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: $desktop-width) {
  .live-example__wrap {
    background-color: #f2f2f2;
  }

  .live-example__text {
    padding-top: 60px;
    width: 400px;
  }

  .live-example__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .live-example__costs {
    width: 100%;
    text-align: left;
  }
}
