.live-example {
  background-color: $live-example_bg_color;
  padding-bottom: 20px;
}

.live-example__wrap {
  padding: 10px 20px;
  margin-top: 45px;
}

.live-example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding: 0;
  margin: 5px 0 30px 0;
}

.live-example__text {
  font-family: $live-example_font;
  font-size: 14px;
  line-height: 18px;
  margin-top: -7px;
  margin-right: 5px;
}

.live-example__costs {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 25px 0 40px 47px;
}

.live-example__result-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.live-example__result-weight-info,
.live-example__result-time-info {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.live-example__result-weight,
.live-example__result-time {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.live-example__costs-wrap {
  padding: 0;
}

/*.live-example__result-info--weight {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  margin-top: 11px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid #d9d9d9;
}

.live-example__result-info--time {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  margin-top: 11px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 21px;
  padding-right: 21px;
  border: 1px solid #d9d9d9;
}*/

.live-example__slider {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 25px;
    text-transform: uppercase;
  }

  &--scale::before {
    content: "";
    position: absolute;
    background-color: white;
    border: 1px solid #d9d9d9;
    width: 85px;
    height: 12px;
    border-radius: 25px;
    top: 30px;
    left: 95px;
  }
}

.live-example__logo-example {
  padding: 0;
  width: auto;
  min-height: 100%;
}

@media (min-width: $tablet-width) {
  .live-example {
    background-color: white;
    padding: 40px 0 0 0;
    margin-top: 41px;
    border-top: 1px solid #d9d9d9;
  }


  .live-example__wrap {
    margin: 0;
    padding: 0;
  }

  .live-example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 70px 0;
    padding: 0 10px;
  }

  .live-example__text {
    width: 700px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 10px;
  }

  .live-example__result-field {
    padding: 0 10px;
  }

  .live-example__result-weight-info,
  .live-example__result-time-info {
    font-size: 30px;
    line-height: 37px;
  }

  .live-example__result-wrap {
    margin: 40px 0;
    height: 810px;
  }

  .live-example__costs {
    font-size: 20px;
    text-align: right;
    width: 180px;
  }

  .live-example__pic {
    margin-top: 65px;
    position: relative;
    z-index: 2;
    text-align: center;
  }

  .live-example__slider {
    height: 361px;
    background-color: #f2f2f2;
    top: -345px;
    z-index: -1;
    align-items: flex-end;
    margin-top: 45px;
    padding: 0 78px 55px 78px;

    p {
      font-size: 20px;
      line-height: 20px;
    }

    &--scale::before {
      content: "";
      position: absolute;
      width: 445px;
      height: 1px;
      top: 330px;
      left: 135px;
      border: 2px solid #dcdcdc;
      background-color: #dcdcdc;
      border-radius: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .live-example {
    border: none;
  }

  .live-example__main {
    height: 250px;
  }

  .live-example__wrap {
    background-color: #f2f2f2;
    padding: 0;
    justify-content: space-between;
  }

  .live-example__result-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
  }

  .live-example__text {
    width: 430px;
  }

  .live-example__costs {
    margin: 0;
  }

  .live-example__title {
    background-color: white;
    padding-bottom: 80px;
  }

  .live-example__result-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    margin-left: 10px;
  }

  .live-example__pic {
    margin-top: 65px;
    position: relative;
    z-index: 2;
    text-align: center;
    height: 200px;
    top: -450px;
  }

  .live-example__slider {
    height: 350px;
    background-color: #f2f2f2;
    top: -345px;
    z-index: -1;
    align-items: flex-end;

    &--scale::before {
      width: 370px;
      top: 320px;
      left: 155px;
      border: 2px solid #dcdcdc;
      background-color: #dcdcdc;
      border-radius: 25px;
    }
  }
}
