.live-example {
  background-color: $live-example_bg_color;
  padding-bottom: 36px;
}

.live-example__wrap {
  margin-top: 45px;
}

.live-example__pic {
  &--before {
    margin-top: 35px;
  }

  &--after {
    position: relative;
    margin-top: -243px;
    z-index: -1;
  }
}

.live-example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding: 15px 20px;
  margin: 0 0 -5px 0;
  word-wrap: break-word;
}

.live-example__text {
  font-family: $live-example_font;
  font-size: 14px;
  line-height: 18px;
  margin-right: 5px;
  padding: 0 20px;
}

.live-example__result-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 0 20px;
}

.live-example__result-info {
  position: relative;
  margin-top: 9px;

  &--weight {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    padding: 16px 42px 16px 42px;
    border: 1px solid #d9d9d9;
  }

  &--time {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    padding: 16px 21px 16px 21px;
    border: 1px solid #d9d9d9;
  }
}

.live-example__result-subinfo {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  position: relative;
  text-align: center;
  background-color: #f2f2f2;
  top: -11px;
  left: 20px;
  width: 80px;
}

.live-example__costs-text,
.live-example__costs-money {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.live-example__costs-wrap {
  display: inline-block;
  margin: 7px 0 0 45px;
}

.live-example__slider {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  .live-example__slider-text {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    margin: 2px 57px 0 62px;
    text-transform: uppercase;
    color: black;
    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: none;
    }
  }

  &--scale {
    position: relative;
    margin: 0 auto;
    top: -10px;
    right: 158px;
  }

  &--scale::before {
    content: "";
    position: absolute;
    background-color: white;
    border: 1px solid #d9d9d9;
    width: 27vw;
    height: 12px;
    border-radius: 30px;
    top: 5px;
    left: 118px;
  }

  &--scale::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    border: 1px solid #d9d9d9;
    width: 10vw;
    height: 5px;
    border-radius: 25px;
    top: 8.5px;
    left: 125px;
  }
}

.live-example__logo-example {
  width: 100vw;
  padding: 0;
  min-height: 100%;
}

@media (min-width: $tablet-width) {
  .live-example {
    position: relative;
    background-color: white;
    padding: 40px 0 0 0;
    border-top: 1px solid #d9d9d9;
  }

  .live-example__wrap {
    margin: 0;
    padding: 0;
  }

  .live-example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 2px 0 65px 0;
    padding: 0 30px;
  }

  .live-example__text {
    width: 90vw;
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px;
  }

  .live-example__result-field {
    padding: 0 30px;
    justify-content: flex-start;
  }

  .live-example__result-info {
    position: relative;
    flex-shrink: 1;
    margin-top: 25px;

    &--weight {
      font-size: 30px;
      line-height: 24px;
      margin: 11px 44px 0 0;
      padding: 24px 56px 24px 56px;
    }

    &--time {
      font-size: 30px;
      line-height: 24px;
      margin: 11px 125px 0 0;
      padding: 24px 30px 24px 28px;
    }
  }

  .live-example__result-subinfo {
    font-size: 14px;
    line-height: 14px;
    width: 130px;
    top: -8px;
    left: 16px;
    background-color: white;
  }

  .live-example__result-weight-info,
  .live-example__result-time-info {
    font-size: 30px;
    line-height: 37px;
  }

  .live-example__costs-text,
  .live-example__costs-money {
    display: inline-block;
    font-size: 20px;
    text-align: right;
  }

  .live-example__costs-text {
    margin-bottom: 10px;
  }

  .live-example__costs-wrap {
    margin: 47px 0 0 35px;
    width: 180px;
    text-align: right;
  }

  .live-example__pic {
    display: block;
    position: relative;

    &--before {
      display: block;
      position: absolute;
      top: 450px;
      left: 45px;
      z-index: 1;
      margin: 0;
      width: 690px;
      height: 517px;
      overflow: hidden;
    }

    &--after {
      position: absolute;
      margin-top: 70px;
      top: 390px;
      left: 45px;
      z-index: -1;
    }
  }

  .live-example__logo-example {
    &--before {
      width: 100%;
    }

    &--after {
      width: 100%;
      height: 518px;
    }
  }

  .live-example__slider-wrap {
    position: relative;
    height: 460px;
    background-color: #f2f2f2;
    margin-top: 240px;
  }

  .live-example__slider {
    position: relative;
    justify-content: center;
    top: 365px;

    .live-example__slider-text {
      font-size: 20px;
      line-height: 20px;
      margin-left: 100px;
      margin-right: 100px;
    }

    &--scale {
      position: relative;
      margin: 0 auto;
      top: -10px;
      right: 384px;
    }

    &--scale::before {
      content: "";
      position: absolute;
      width: 425px;
      height: 3px;
      top: 10px;
      left: 170px;
      border: 2px solid #dcdcdc;
      background-color: #dcdcdc;
      border-radius: 25px;
    }

    &--scale::after {
      content: "";
      position: absolute;
      background-color: white;
      border: 1px solid #d9d9d9;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      top: -3px;
      left: 370px;
      z-index: 1;
    }

    &--dot::after {
      content: "";
      position: absolute;
      background-color: #68b738;
      width: 7px;
      height: 7px;
      border-radius: 50px;
      top: 9px;
      left: 382px;
      z-index: 2;
      cursor: pointer;
    }

    &--scale:hover::after {
      cursor: pointer;
      box-shadow: 0 0 5px 0 #bebebe;
    }

    &--scale:active::after {
      cursor: pointer;
      border-color: #68b738;
      box-shadow: 0 0 5px 0 #68b738;
    }
  }
}

@media (min-width: $desktop-width) {
  .live-example {
    border: none;
    margin: 0 auto;
  }

  .live-example__container-wrap {
    position: relative;
    background-color: #f2f2f2;
    padding: 45px 0 0 0;
  }

  .live-example__container {
    position: relative;
    width: 1220px;
    max-height: 390px;
    margin: 0 auto;
  }

  .live-example__wrap {
    padding: 0;
    justify-content: space-between;
  }

  .live-example__title {
    padding: 0 40px 75px 40px;
    width: 1220px;
    margin: 0 auto;
  }

  .live-example__result-wrap {
    display: inline-block;
    width: 570px;
    height: 390px;
    margin: 0;
  }

  .live-example__text {
    width: 435px;
    padding: 0;
    margin-top: 25px;
  }

  .live-example__costs {
    width: 300px;
    text-align: left;
    margin: 0;
  }

  .live-example__costs-wrap {
    position: relative;
    width: 400px;
    text-align: left;
    margin: 47px 0 0 0;
  }

  .live-example__costs-text {
    margin-right: 60px;
  }

  .live-example__result-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100px;
    padding: 0;
    margin-top: 21px;
  }

  .live-example__pic {
    margin-top: 65px;
    position: relative;
    text-align: center;

    &--before {
      display: block;
      position: absolute;
      width: 700px;
      top: -260px;
      left: 565px;
      z-index: 1;
      margin: 0;
      height: 517px;
    }

    &--after {
      position: absolute;
      margin-top: 70px;
      top: -260px;
      left: 45px;
      z-index: -1;
    }
  }

  .live-example__result-info {
    &--weight {
      margin-top: 5px;
    }

    &--time {
      margin-top: 5px;
    }
  }

  .live-example__result-subinfo {
    background-color: #f2f2f2;
  }

  .live-example__slider-wrap {
    position: absolute;
    background-color: transparent;
    top: 130px;
    height: 0;
    margin: 0;
  }

  .live-example__slider {
    min-width: 500px;
    position: relative;
    top: 165px;
    right: 0;
    align-items: flex-end;
    z-index: 1;
    margin: 0;

    .live-example__slider-text {
      display: inline-block;
      position: relative;
      padding-bottom: 5px;
      left: 550px;
    }

    &--scale {
      display: block;
      position: relative;
      margin: 0 auto;
      top: -24px;
      right: 845px;
      flex: 0 0 auto;
    }

    &--scale::before {
      content: "";
      position: absolute;
      width: 425px;
      height: 3px;
      top: 7px;
      left: 1043px;
      border: 2px solid #dcdcdc;
      background-color: #dcdcdc;
      border-radius: 25px;
    }

    &--scale::after {
      content: "";
      position: absolute;
      background-color: white;
      border: 1px solid #d9d9d9;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      top: -3px;
      left: 1240px;
      z-index: 1;
    }

    &--dot::after {
      content: "";
      position: absolute;
      background-color: #68b738;
      width: 7px;
      height: 7px;
      border-radius: 50px;
      top: 9px;
      left: 1252px;
      z-index: 2;
      cursor: pointer;
    }
  }

  .live-example__slider::after {
    top: 7px;
    left: 283px;
  }

  .live-example__slider-before {
    margin-right: 272px;
  }
}
