.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 265px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__list {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 65px;
    margin-top: 20px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    /*background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;*/
    width: 720;
    height: 570px;
    position: absolute;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

