.page-main__preview-wrap {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  height: 305px;
  padding: 0 20px;
  background-color: #63a73a;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px;
  }
}

.page-main__pic-can {
  position: relative;
  height: 145px;
  top: -137px;
  text-align: center;
}

.page-main__preview-title {
  padding-top: 26px;
  color: $main_text_color;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 36px;
}

.page-main__preview-text {
  text-transform: uppercase;
  color: $main_text_color;
  text-align: center;
  font-size: 14px;
  line-height: 5px;
  margin-bottom: 33px;
}

.page-main__link {
  color: $main_text_color;
  background-color: #68b738;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 73px 10px 73px;
}

.page-main__link-wrap {
  margin-bottom: 33px;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .page-main__preview-wrap {
    background-image: none;
    background-color: transparent;
  }

  .page-main__preview-title {
    color: black;
    font-size: 60px;
    text-align: left;
    line-height: 60px;
    width: 427px;
    margin: 55px 0 42px 0;
    padding: 0 0 0 77px;
    font-weight: 400;
  }

  .page-main__preview-text {
    text-transform: uppercase;
    color: black;
    text-align: left;
    font-size: 20px;
    background: none;
    line-height: 20px;
    padding: 0 0 0 77px;
  }

  .page-main__link-wrap {
    margin: -205px 0 0 78px;
  }

  .page-main__preview {
    position: relative;
    padding: 0 20px 523px 20px;
  }

  .page-main__preview::after {
    content: "";
    position: absolute;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 709px;
    height: 609px;
    top: 198px;
    left: 28px;
    z-index: -1;
  }

  .page-main__logo-image {
    display: none;
  }

  .page-main__link {
    color: $main_text_color;
    background-color: #68b738;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 27px 12px 27px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__preview {
    position: relative;
    padding: 0 20px 300px 20px;
  }

  .page-main__preview::after {
    background-image: url("../img/index-can-desktop@1x.png");
    top: -53px;
    left: 450px;
    z-index: -1;
  }

  .page-main__preview::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    min-width: 100%;
    height: 696px;
    top: -195px;
    left: 605px;
    z-index: -1;
    margin: 0 auto;
  }

  .page-main__preview-title {
    width: 560px;
  }

  .page-main__preview-text {
    margin: 42px 0 0 0;
  }

  .page-main__link-wrap {
    margin: -205px 0 0 78px;
  }
}
