.page-footer__wrapper {
  background-color: #f2f2f2;
}

.page-footer__partnership {
  background-color: $main_bg_color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 10px 20px;
}

.page-footer__partnership-bg {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
  padding: 0 20px 10px 20px;
}

.page-footer__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 27px;
}

.page-footer__address-wrap {
  display: inline-block;
  text-align: left;
  margin: 29px 0 0 22px;
}

.page-footer__address,
.page-footer__city {
  display: inline-block;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.page-footer__logo {
  margin: 35px 0 0 78px;
  padding-bottom: 31px;
}

.page-footer__social-wrap {
  padding: 0 20px;
}

.page-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__social-contacts {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 0 18px 0;
  margin: 5px 84px 0 75px;
  cursor: pointer;
  fill: #666666;

  .social__link--vk:hover,
  .social__link--fb:hover,
  .social__link--insta:hover {
    fill: #64b937;
  }

  .social__link--vk:active,
  .social__link--fb:active,
  .social__link--insta:active {
    fill: #c8e2bd;
  }
}

.page-footer__copyright {
  padding-bottom: 20px;
}

.page-footer__logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

.page-footer__logo:active {
  opacity: 0.5;
  cursor: pointer;
}

.page-footer__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 364px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@1x.png");
    background-size: 320px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .page-footer__partnership {
    padding: 65px 70px 57px 70px;
  }

  .page-footer__partnership-bg {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 76px;
    padding: 68px 70px 55px 70px;
  }

  .page-footer__title {
    font-size: 20px;
    line-height: 25px;
    width: 150px;
    margin: 0;
  }

  .page-footer__address,
  .page-footer__city {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .page-footer__city {
    margin-top: 20px;
  }

  .page-footer__address-wrap {
    width: 160px;
    margin: 0;
    text-align: right;
  }

  .page-footer__logo {
    margin: 20px 0 0 0;
    padding: 0 10px;
  }

  .page-footer__social-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
  }

  .page-footer__social {
    width: 130px;
    border: none;
  }

  .page-footer__social-contacts {
    margin: 0;

    .social__link--vk {
      width: 30px;
      height: 18px;
      margin-top: 2px;
      margin-left: 9px;
    }

    .social__link--insta {
      width: 23px;
      height: 23px;
      margin-left: 2px;
    }

    .social__link--fb {
      width: 14px;
      height: 29px;
      margin-top: -3px;
      margin-right: -4px;
    }
  }

  .page-footer__copyright {
    width: 170px;
  }

  .page-footer__map-frame {
    width: 100vw;
    height: 400px;
  }

  .page-footer__map {
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    padding: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@1x.png"), url("../img/bg-map-tablet@2x.png");
      background-size: 767px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__social-wrap {
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin: 25px 0 0 0;
    padding: 0;
  }

  .page-footer__copyright {
    margin-top: 7px;
  }

  .page-footer__partnership-wrap {
    position: relative;
    padding: 0 40px;
    width: 1220px;
    margin: 0 auto;
  }

  .page-footer__partnership {
    width: 500px;
    position: absolute;
    padding: 70px 0 58px 70px;
    margin-top: 95px;
    justify-content: flex-start;
    z-index: 1;
  }

  .page-footer__title {
    margin: -5px 104px 0 5px;
  }

  .page-footer__address-wrap {
    margin-top: -6px;
    margin-right: 85px;
    text-align: left;
  }

  .page-footer__address {
    text-align: left;
  }

  .page-footer__partnership-bg {
    background-color: white;
  }

  .page-footer__map {
    background-image: url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@1x.png"), url("../img/bg-map-desktop@2x.png 2x");
      background-size: 1300px;
    }
  }

  .page-footer__social-contacts {
    margin-top: 5px;

    .social__link--vk {
      margin-left: 15px;
    }

    .social__link--insta {
      margin-left: 1px;
    }

    .social__link--fb {
      margin-top: -4px;
      margin-right: -9px;
    }
  }
}
