.page-footer__wrapper {
  background-color: #f2f2f2;
}

.page-footer__partnership {
  background-color: $main_bg_color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;
  padding-right: 20px;
}

.page-footer__partnership-bg {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
  padding: 10px 0 20px 0;
}

.page-footer__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 20px;
  margin-left: 20px;
}

.page-footer__address-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 20px;
}

.page-footer__address,
.page-footer__city {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.page-footer__address {
  margin-top: 14px;
}

.page-footer__city {
  margin-top: -15px;
}

.page-footer__logo {
  margin: 40px 0 0 74px;
  padding: 0 20px 33px 20px;
}

.page-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 5px 20px 0 20px;
}

.page-footer__social-contacts {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 0 20px 0;
  margin: 0 84px 0 75px;
  cursor: pointer;

  .social__link--vk:hover,
  .social__link--fb:hover,
  .social__link--inst:hover {
    fill: #64b937;
  }

  .social__link--vk:active,
  .social__link--fb:active,
  .social__link--inst:active {
    fill: #c8e2bd;
  }
}

.page-footer__copyright {
  padding-bottom: 20px;
}

.page-footer__logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

.page-footer__logo:active {
  opacity: 0.5;
  cursor: pointer;
}


.page-footer__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  height: 360px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@1x.png");
    background-size: 320px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .page-footer__title {
    font-size: 20px;
    line-height: 25px;
    width: 150px;
    margin-top: 35px;
  }

  .page-footer__address,
  .page-footer__city {
    font-size: 16px;
    text-align: right;
  }

  .page-footer__address {
    width: 160px;
    margin-top: 35px;
  }

  .page-footer__city {
    margin-top: 20px;
  }

  .page-footer__partnership-bg {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 65px;
    padding: 30px 70px 20px 50px;
  }

  .page-footer__logo {
    margin: 30px 0 0 0;
    padding: 0 30px;
  }

  .page-footer__social {
    width: 130px;
    margin-top: 10px;
    border: none;
  }

  .page-footer__copyright {
    margin-top: 10px;
  }

  .page-footer__social-contacts {
    margin: 0;
  }

  .page-footer__map {
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@1x.png"), url("../img/bg-map-tablet@2x.png");
      background-size: 767px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    margin: 30px 0 0 0;
    padding: 0 40px;
  }

  .page-footer__copyright {
    padding-right: 20px;
  }

  .page-footer__partnership {
    width: 500px;
    position: absolute;
    margin-left: 40px;
    margin-top: 80px;
    padding: 40px;
  }

  .page-footer__partnership-bg {
    background-color: white;
  }

  .page-footer__map {
    background-image: url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
    margin-top: -20px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@1x.png"), url("../img/bg-map-desktop@2x.png 2x");
      background-size: 1300px;
    }
  }
}
