.page-footer__wrapper {
  padding: 0 20px;
  background-color: #f2f2f2;
}

.page-footer__partnership {
  background-color: $main_bg_color;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 11px;
  margin-bottom: 10px;
}

.page-footer__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 20px;
}

.page-footer__address {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.page-footer__logo {
  margin: 0 0 0 74px;
  padding-bottom: 30px;
}

.page-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__social-contacts {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 0 20px 0;
  margin: 0 84px 0 75px;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-footer__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 400px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@1x.png");
    background-size: 320px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .page-footer__title {
    font-size: 20px;
    line-height: 25px;
    width: 150px;
  }

  .page-footer__address {
    font-size: 16px;
    text-align: right;
    width: 150px;
  }

  .page-footer__partnership {
    padding: 0 45px 20px 45px;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
  }

  .page-footer__social {
    width: 130px;
    margin-top: 10px;
    border: none;
  }

  .page-footer__copyright {
    margin-top: 10px;
  }

  .page-footer__social-contacts {
    margin: 0;
  }

  .page-footer__map {
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
    margin-top: 18px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@1x.png"), url("../img/bg-map-tablet@2x.png 2x");
      background-size: 767px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__partnership {
    width: 500px;
    position: absolute;
    margin-left: 40px;
    margin-top: 120px;
    padding: 40px;
  }

  .page-footer__map {
    background-image: url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
    margin-top: -20px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@1x.png"), url("../img/bg-map-desktop@2x.png 2x");
      background-size: 1300px;
    }
  }
}
