.page-header {
  display: flex;
  flex-direction: column;

  .page-header__logo-image {
    margin-top: 7px;
  }
}

.page-header__menu {
  display: flex;
  order: 2;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 40px;
  }

  .page-header__logo-image {
    margin-top: 10px;
  }

  .page-header__menu {
    order: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    justify-content: space-between;
  }

  .page-header__menu {
    margin-top: 40px;
  }
}
