.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__logo-link {
  margin-top: 12px;
  margin-bottom: -13px;
  padding: 0 20px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-header__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding: 0 30px;
  }

  .page-header__logo-image {
    width: 192px;
    margin-top: 12px;
  }

  .page-header__logo-link {
    padding: 0;
    margin-bottom: 0;
  }

  .page-header__menu {
    order: 0;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    justify-content: space-between;
    padding: 32px 40px 0 40px;

    &--backg::before {
      display: block;
      content: "";
      position: absolute;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: 750px auto;
      background-repeat: no-repeat;
      background-position-x: right;
      background-color: #64a83b;
      width: 50%;
      height: 695px;
      top: 0;
      left: 50%;
      z-index: -1;
    }
  }

  .page-header__menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 1220px;
    margin: 0 auto;
  }

  .page-header__logo-image {
    width: 201px;
    margin-top: 10px;
  }
}
