.present {
  text-align: center;
  padding: 0 20px;
  margin-top: -25px;
}

.present__wrap {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #72b649;
  width: 280px;
  height: 290px;
}

.present::before {
  content: "";
  position: relative;
  display: block;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  fill: white;
  width: 58px;
  height: 60px;
  top: 150px;
  left: 110px;
}

.present::before path {
  fill: white;
}

.present__img {
  margin-top: 70px;
}

.present__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding-top: 190px;
  padding-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

@media (min-width: $tablet-width) {
  .present {
    padding: 0 30px 10px 30px;
    margin-top: 10px;
  }

  .present__wrap {
    display: flex;
    flex-direction: row;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-color: #72b649;
    width: 708px;
    height: 200px;
    margin: 0;
  }

  .present::before {
    top: 125px;
    left: 90px;
  }

  .present__text {
    padding: 0;
    margin-top: 73px;
    margin-left: 425px;
    width: 167px;
    text-align: left;
  }

  .present__img {
    margin-left: 100px;
  }
}

@media (min-width: $desktop-width) {
  .present {
    padding: 0;
    position: absolute;
    top: 1480px;
    right: 40px;
  }

  .present__wrap {
    flex-direction: column;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: #72b649;
    width: 250px;
    height: 290px;
  }

  .present::before {
    top: 140px;
    left: 100px;
  }

  .present__text {
    width: 180px;
    text-align: center;
    margin: 185px  0 0 30px;
  }
}
