.present {
  width: 280px;
  height: 290px;
  margin-top: 50px;
  text-align: center;
  padding: 0 20px;
}

.present__wrap {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #72b649;
}

.present__img {
  margin-top: 70px;
}

.present__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding-top: 50px;
  padding-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

@media (min-width: $tablet-width) {
  .present {
    padding: 0 10px;
    margin-top: 65px;
  }

  .present__wrap {
    display: flex;
    flex-direction: row;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-color: #72b649;
    width: 708px;
    height: 200px;
    margin: 0;
  }

  .present__text {
    padding: 0;
    margin-top: 80px;
    margin-left: 250px;
    width: 167px;
    text-align: left;
  }

  .present__img {
    margin-left: 100px;
  }
}

@media (min-width: $desktop-width) {
  .present {
    padding: 0;
    position: absolute;
    top: 1544px;
    right: 75px;
  }

  .present__wrap {
    flex-direction: column;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: #72b649;
    width: 245px;
    height: 290px;
  }

  .present__wrap::before {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-gift.svg");
    background-repeat: no-repeat;
    width: 55px;
    height: 60px;
    top: 64px;
    right: 130px;
  }

  .present__text {
    width: 180px;
    text-align: center;
    margin: 185px  0 0 30px;
  }
}
