.profile-pet__form {
  padding: 0 20px;
}

.profile-pet__form-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

.profile-pet__header {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 45px;
  padding-left: 20px;
}

.profile-pet__text {
  font-size: 16px;
  line-height: 18px;
}

.profile-pet__fill-form {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin: 20px 40px 40px 0;
  padding-left: 20px;
}

label {
  text-transform: uppercase;
  margin-right: 14px;
}

input[type="text"] {
  font-family: $main_font;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0 12px 0;
  flex-grow: 1;
}

@media (min-width: $tablet-width) {
  .profile-pet__wrap {
    padding: 0 70px;
  }

  .profile-pet__header {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    padding-left: 30px;
    margin-top: 53px;
  }

  .profile-pet__fill-form {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 55px;
    padding: 0 70px;
    width: 350px;
  }

  .profile-pet__text {
    font-size: 20px;
    line-height: 20px;
  }

  label {
    text-transform: uppercase;
    margin-right: 18px;
  }

  .profile-pet__form {
    margin: 66px 0 0 0;
    padding: 0;
  }

  .profile-pet__form-wrap {
    margin-bottom: 20px;
  }

  input[type="text"] {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 0 15px 0;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .profile-pet__header {
    margin-top: 85px;
    padding: 0 40px;
  }

  .profile-pet__fill-form {
    padding: 0 40px;
    margin: 55px 0 0 0;
  }

  .profile-pet__wrap {
    margin: 0;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
  }

  .profile-pet__form {
    margin: 67px 80px 0 0;
  }

  .profile-pet__form-wrap {
    margin-bottom: 23px;
    width: 570px;
  }

  .profile-pet {
    padding: 0;
  }

  .profile-owner__form {
    display: flex;
    flex-direction: row;
  }
}
