.catalog__wrapper {
  border-top: 1px solid #d9d9d9;
  margin-bottom: 15px;
  padding: 0 20px; }

.catalog__header {
  font-size: 36px;
  font-weight: 400;
  padding: 0 20px;
  margin: 65px 0 50px 0; }

.catalog__item-block-wrapper {
  margin: 0 auto; }

.catalog__item-image {
  margin: 0 auto; }

.catalog__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.catalog__wrapper:nth-child(2) {
  margin-bottom: 25px; }

.catalog__wrapper:nth-child(3),
.catalog__wrapper:nth-child(4),
.catalog__wrapper:nth-child(5),
.catalog__wrapper:nth-child(6),
.catalog__wrapper:nth-child(7) {
  margin-bottom: 23px; }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.catalog__info,
.catalog__value {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px; }

.catalog__item--name,
.catalog__item--more {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  margin: 0; }

.catalog__info-block {
  margin-top: 17px; }

.catalog__item-block {
  margin-top: 24px; }

.catalog__info-block-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px; }

.catalog__more {
  margin-top: 9px;
  padding: 0 20px;
  padding-bottom: 15px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }

.catalog__more-img {
  padding-top: 25px;
  padding-bottom: 3px; }

.catalog__more-plus {
  margin-top: 10px;
  text-align: center; }

.catalog__more-show {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 25px 0 0 0; }

.catalog__more-text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 7px;
  padding-bottom: 19px; }

.catalog__order {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #68b738;
  padding: 10px 110px 10px 110px; }

.catalog__block-link {
  margin: 0 auto; }

.catalog__view-more-link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 95px 10px 95px; }

@media (min-width: 768px) {
  .catalog {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 30px; }
  .catalog__header {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-top: 55px;
    margin-left: 10px; }
  .catalog__wrapper {
    background-color: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
    margin-top: 115px;
    width: 325px;
    height: 430px;
    border: none; }
  .catalog__wrapper:nth-child(7) {
    margin-bottom: 30px; }
  .catalog__item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    position: relative; }
  .catalog__info,
  .catalog__value {
    font-size: 16px; }
  .catalog__item--name,
  .catalog__item--more {
    font-size: 20px;
    line-height: 20px; }
  .catalog__item-block {
    margin-top: 163px;
    text-align: center; }
  .catalog__item-image {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    top: -85px; }
    .catalog__item-image--small {
      top: -48px; }
  .catalog__info-block {
    margin-top: 27px; }
  .catalog__info-block-about {
    font-size: 16px;
    line-height: 16px;
    width: 250px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 7px;
    margin-bottom: 8px; }
  .catalog__order {
    padding: 10px 94px 10px 94px;
    margin: 25px 0 0 0; }
  .catalog__more {
    height: 430px;
    border: 1px solid #d9d9d9;
    margin-top: 114px;
    padding: 0 36px 0 36px; }
  .catalog__more-wrap {
    width: 250px; }
  .catalog__more-img {
    text-align: center;
    padding: 0;
    position: relative;
    width: 60px;
    height: 60px;
    top: 45px; }
  .catalog__more-show {
    font-size: 20px;
    width: 150px;
    margin: 93px 0 0 51px; }
  .catalog__more-text {
    font-size: 16px;
    line-height: 17px;
    width: 220px;
    margin: 27px 0 0 15px; }
  .catalog__view-more {
    margin-top: 77px; }
  .catalog__view-more-link {
    padding: 10px 75px 10px 75px; } }

@media (min-width: 1300px) {
  .catalog {
    padding: 0 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .catalog__header {
    margin: 85px 0 40px 0;
    padding: 0 40px; }
  .catalog__info-block-about {
    width: 170px; }
  .catalog__order {
    padding: 10px 54px 10px 54px; }
  .catalog__wrapper {
    width: 245px;
    padding: 0;
    border: 0;
    margin-right: 50px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .catalog__wrapper:nth-child(5) {
    margin-right: 0; }
  .catalog__info-block-about:nth-child(2),
  .catalog__info-block-about:nth-child(3) {
    margin-top: 8px; }
  .catalog__more {
    width: 245px;
    height: 430px;
    border: 1px solid #d9d9d9;
    margin-top: 115px;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .catalog__more-show {
    font-size: 20px;
    width: 150px;
    margin: 0 auto;
    padding-top: 95px; }
  .catalog__more-wrap {
    width: 100%; }
  .catalog__more-text {
    font-size: 16px;
    line-height: 17px;
    width: 220px;
    margin: 0 auto;
    padding-top: 25px; }
  .catalog__view-more {
    margin: 0 auto;
    padding-top: 75px;
    text-align: center; }
  .catalog__view-more-link {
    margin-left: 5px;
    padding: 10px 40px 10px 40px; }
  .catalog__more-about {
    margin: 0 auto; } }

.example {
  padding: 0 20px; }

.example__container {
  margin-top: 20px; }

.example__container-slim,
.example__container-pro {
  background-color: #f2f2f2;
  padding: 15px 20px 22px 20px;
  position: relative; }

.example__item-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  margin-left: 70px;
  margin-bottom: 40px; }

.example__item-describe {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9; }

.example__container-slim::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 30px; }

.example__container-slim::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  top: 25px;
  left: 23px; }

.example__container-pro::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  width: 70px;
  height: 50px;
  top: 35px;
  left: 13px; }

.example__container-pro::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  top: 25px;
  left: 20px; }

.example__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: black; }

.example__item-link-block {
  padding-top: 3px; }

.example__link-arrow {
  margin-left: 10px; }

@media (min-width: 768px) {
  .example {
    padding: 0 30px; }
  .example__container-slim,
  .example__container-pro {
    padding: 76px 0 62px 52px; }
  .example__item-title {
    font-size: 36px;
    line-height: 37px;
    font-weight: 400;
    margin: 0 0 25px 0; }
  .example__item-describe {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 33px;
    border: none; }
    .example__item-describe--slim {
      width: 380px; }
    .example__item-describe--pro {
      width: 340px; }
  .example__link {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400; }
  .example__container {
    margin-bottom: 30px; }
  .example__container-slim::after {
    width: 150px;
    height: 195px;
    top: 80px;
    left: 475px; }
  .example__container-slim::before {
    width: 200px;
    height: 200px;
    top: 90px;
    left: 445px; }
  .example__container-pro::after {
    width: 273px;
    height: 120px;
    top: 135px;
    left: 409px; }
  .example__container-pro::before {
    width: 200px;
    height: 200px;
    top: 90px;
    left: 450px; } }

@media (min-width: 1300px) {
  .example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 40px; }
  .example__container-slim,
  .example__container-pro {
    padding: 76px 55px 61px 55px; }
  .example__item-describe {
    margin-top: 75px; }
    .example__item-describe--slim {
      width: 465px; }
    .example__item-describe--pro {
      width: 465px; }
  .example__item-link-block {
    padding: 0;
    margin-top: -5px; }
  .example__item-title {
    margin-left: 162px; }
  .example__container-slim::after {
    width: 70px;
    height: 95px;
    top: 50px;
    left: 100px; }
  .example__container-slim::before {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 80px; }
  .example__container-pro::after {
    width: 136px;
    height: 56px;
    top: 70px;
    left: 50px; }
  .example__container-pro::before {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 80px; } }

.page-main__preview-wrap {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  height: 305px;
  padding: 0 20px;
  background-color: #63a73a; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-main__preview-wrap {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px; } }

.page-main__pic-can {
  position: relative;
  height: 145px;
  top: -137px;
  text-align: center; }

.page-main__preview-title {
  padding-top: 26px;
  color: white;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 36px; }

.page-main__preview-text {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 5px;
  margin-bottom: 33px; }

.page-main__link {
  color: white;
  background-color: #68b738;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 73px 10px 73px; }

.page-main__link-wrap {
  margin-bottom: 33px;
  padding: 0 20px; }

@media (min-width: 768px) {
  .page-main__preview-wrap {
    background-image: none;
    background-color: transparent; }
  .page-main__preview-title {
    color: black;
    font-size: 60px;
    text-align: left;
    line-height: 60px;
    width: 427px;
    margin: 55px 0 42px 0;
    padding: 0 0 0 77px;
    font-weight: 400; }
  .page-main__preview-text {
    text-transform: uppercase;
    color: black;
    text-align: left;
    font-size: 20px;
    background: none;
    line-height: 20px;
    padding: 0 0 0 77px; }
  .page-main__link-wrap {
    margin: -205px 0 0 78px; }
  .page-main__preview {
    position: relative;
    padding: 0 20px 523px 20px; }
  .page-main__preview::after {
    content: "";
    position: absolute;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 709px;
    height: 609px;
    top: 198px;
    left: 28px;
    z-index: -1; }
  .page-main__logo-image {
    display: none; }
  .page-main__link {
    color: white;
    background-color: #68b738;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 27px 12px 27px; } }

@media (min-width: 1300px) {
  .page-main__preview {
    position: relative;
    padding: 0 20px 300px 20px; }
  .page-main__preview::after {
    background-image: url("../img/index-can-desktop@1x.png");
    top: -53px;
    left: 450px;
    z-index: -1; }
  .page-main__preview::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    min-width: 100%;
    height: 696px;
    top: -195px;
    left: 605px;
    z-index: -1;
    margin: 0 auto; }
  .page-main__preview-title {
    width: 560px; }
  .page-main__preview-text {
    margin: 42px 0 0 0; }
  .page-main__link-wrap {
    margin: -205px 0 0 78px; } }

body {
  background: white;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #111111;
  min-width: 320px;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

input {
  border: 1px solid #d9d9d9; }

textarea {
  border: 1px solid #d9d9d9; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@media (min-width: 1300px) {
  html {
    overflow-x: hidden; } }

.advantage {
  padding: 0 20px; }

.advantage__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  margin-top: 15px; }

.advantage__list {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  list-style: none;
  padding: 0; }

.advantage__item {
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.advantage__item-pic {
  background-color: #68b738;
  width: 84px;
  height: 60px;
  margin-right: 20px; }
  .advantage__item-pic--leaf {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center; }
  .advantage__item-pic--powder {
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: center; }
  .advantage__item-pic--dining {
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center; }
  .advantage__item-pic--clock {
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center; }

.advantage__item-text {
  margin: 0;
  width: 100%; }

@media (min-width: 768px) {
  .advantage {
    padding: 0 30px; }
  .advantage__title {
    text-align: left;
    font-size: 60px;
    font-weight: 400;
    margin-top: 43px; }
  .advantage__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .advantage__item-pic {
    width: 80px;
    height: 80px; }
  .advantage__list {
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .advantage__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 230px;
    height: 230px;
    margin: 5px 95px 83px 0; }
    .advantage__item--leaf::before {
      content: "1";
      position: absolute;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      opacity: 0.1;
      left: 120px;
      top: -40px; }
    .advantage__item--powder::before {
      content: "2";
      position: absolute;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      opacity: 0.1;
      left: 110px;
      top: -40px; }
    .advantage__item--dining {
      margin-bottom: 0; }
    .advantage__item--clock {
      margin-bottom: 0; }
    .advantage__item--dining::before {
      content: "3";
      position: absolute;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      opacity: 0.1;
      left: 110px;
      top: -40px; }
    .advantage__item--clock::before {
      content: "4";
      position: absolute;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      opacity: 0.1;
      left: 110px;
      top: -40px; }
  .advantage__item-text {
    margin-top: -12px; } }

@media (min-width: 1300px) {
  .advantage {
    padding: 0 40px; }
  .advantage__title {
    margin-top: 45px; }
  .advantage__item {
    margin: 5px 0 0 0; }
  .advantage__item-text {
    margin-top: -15px; }
  .advantage__list {
    width: 100%; } }

.live-example {
  background-color: #f2f2f2;
  padding-bottom: 20px; }

.live-example__wrap {
  margin-top: 42px; }

.live-example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding: 15px 20px;
  margin: 0 0 -5px 0; }

.live-example__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-right: 5px;
  padding: 0 20px; }

.live-example__costs {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 9px 0 35px 40px; }

.live-example__result-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px; }

.live-example__costs-wrap {
  padding: 0; }

.live-example__result-info {
  position: relative; }
  .live-example__result-info--weight {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    margin-top: 11px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 42px;
    padding-right: 42px;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9; }
  .live-example__result-info--time {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    margin-top: 11px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 21px;
    padding-right: 21px;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9; }

.live-example__result-subinfo {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  position: relative;
  top: -10px; }

.live-example__result-subinfo::before {
  content: "";
  position: absolute;
  width: 18px;
  border-top: 1px solid #d9d9d9;
  top: 10px;
  left: 1px; }

.live-example__result-subinfo::after {
  content: "";
  position: absolute;
  width: 18px;
  border-top: 1px solid #d9d9d9;
  top: 10px;
  right: 0; }

.live-example__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0 61px;
  margin-top: 5px; }
  .live-example__slider p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 25px;
    text-transform: uppercase; }
  .live-example__slider--scale::before {
    content: "";
    position: absolute;
    background-color: white;
    border: 1px solid #d9d9d9;
    width: 85px;
    height: 12px;
    border-radius: 25px;
    top: 30px;
    left: 117px; }
  .live-example__slider--scale::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    border: 1px solid #d9d9d9;
    width: 40px;
    height: 6px;
    border-radius: 25px;
    top: 33px;
    left: 125px; }

.live-example__logo-example {
  padding: 0;
  width: auto;
  min-height: 100%; }

@media (min-width: 768px) {
  .live-example {
    background-color: white;
    padding: 40px 0 0 0;
    margin-top: 41px;
    border-top: 1px solid #d9d9d9; }
  .live-example__wrap {
    margin: 0;
    padding: 0; }
  .live-example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 65px 0;
    padding: 0 30px; }
  .live-example__text {
    width: 700px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px; }
  .live-example__result-field {
    padding: 0 30px; }
  .live-example__result-info {
    position: relative;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
    .live-example__result-info--weight {
      font-size: 30px;
      line-height: 24px;
      margin: 11px 0 0 0;
      padding: 24px 56px 24px 56px; }
    .live-example__result-info--time {
      font-size: 30px;
      line-height: 24px;
      margin-top: 11px;
      padding: 24px 30px 24px 30px; }
  .live-example__result-weight-info,
  .live-example__result-time-info {
    font-size: 30px;
    line-height: 37px; }
  .live-example__result-wrap {
    margin: 40px 0;
    height: 810px; }
  .live-example__costs {
    font-size: 20px;
    text-align: right;
    width: 180px; }
  .live-example__costs-wrap {
    margin: 15px 0 0 76px; }
  .live-example__pic {
    margin-top: 65px;
    position: relative;
    z-index: 2;
    text-align: center; }
  .live-example__slider {
    height: 405px;
    background-color: #f2f2f2;
    top: -395px;
    z-index: -1;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 45px;
    padding: 0 78px 55px 78px; }
    .live-example__slider p {
      font-size: 20px;
      line-height: 20px; }
    .live-example__slider--scale::before {
      content: "";
      position: absolute;
      width: 410px;
      height: 1px;
      top: 375px;
      left: 170px;
      border: 2px solid #dcdcdc;
      background-color: #dcdcdc;
      border-radius: 25px; }
    .live-example__slider--scale::after {
      content: "";
      position: absolute;
      background-color: white;
      border: 1px solid #d9d9d9;
      width: 35px;
      height: 35px;
      border-radius: 50px;
      top: 360px;
      left: 365px; } }

@media (min-width: 1300px) {
  .live-example {
    border: none; }
  .live-example__main {
    height: 250px; }
  .live-example__wrap {
    background-color: #f2f2f2;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .live-example__result-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px; }
  .live-example__text {
    width: 435px;
    padding: 0 40px; }
  .live-example__costs {
    margin: 0; }
  .live-example__title {
    background-color: white;
    padding: 0 0 80px 40px; }
  .live-example__result-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100px;
    margin-left: 10px; }
  .live-example__pic {
    margin-top: 65px;
    position: relative;
    z-index: 2;
    text-align: center;
    height: 200px;
    top: -420px; }
  .live-example__result-info {
    margin-right: 40px; }
  .live-example__slider {
    height: 350px;
    background-color: #f2f2f2;
    top: -345px;
    z-index: -1;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .live-example__slider--scale::before {
      width: 310px;
      top: 320px;
      left: 155px;
      border: 2px solid #dcdcdc;
      background-color: #dcdcdc;
      border-radius: 25px; }
    .live-example__slider--scale::after {
      content: "";
      position: absolute;
      background-color: white;
      border: 1px solid #d9d9d9;
      width: 35px;
      height: 35px;
      border-radius: 50px;
      top: 305px;
      left: 310px; } }

.page-footer__wrapper {
  background-color: #f2f2f2; }

.page-footer__partnership {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
  padding-right: 20px; }

.page-footer__partnership-bg {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
  padding: 10px 0 20px 0; }

.page-footer__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 20px;
  margin-left: 20px; }

.page-footer__address-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 20px; }

.page-footer__address,
.page-footer__city {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px; }

.page-footer__address {
  margin-top: 14px; }

.page-footer__city {
  margin-top: -15px; }

.page-footer__logo {
  margin: 40px 0 0 74px;
  padding: 0 20px 33px 20px; }

.page-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 5px 20px 0 20px; }

.page-footer__social-contacts {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0 20px 0;
  margin: 0 84px 0 75px;
  cursor: pointer; }
  .page-footer__social-contacts .social__link--vk:hover,
  .page-footer__social-contacts .social__link--fb:hover,
  .page-footer__social-contacts .social__link--inst:hover {
    fill: #64b937; }
  .page-footer__social-contacts .social__link--vk:active,
  .page-footer__social-contacts .social__link--fb:active,
  .page-footer__social-contacts .social__link--inst:active {
    fill: #c8e2bd; }

.page-footer__copyright {
  padding-bottom: 20px; }

.page-footer__logo:hover {
  opacity: 0.8;
  cursor: pointer; }

.page-footer__logo:active {
  opacity: 0.5;
  cursor: pointer; }

.page-footer__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  height: 360px; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-footer__map {
      background-image: url("../img/bg-map-mobile@1x.png");
      background-size: 320px; } }

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px; }
  .page-footer__title {
    font-size: 20px;
    line-height: 25px;
    width: 150px;
    margin-top: 35px; }
  .page-footer__address,
  .page-footer__city {
    font-size: 16px;
    text-align: right; }
  .page-footer__address {
    width: 160px;
    margin-top: 35px; }
  .page-footer__city {
    margin-top: 20px; }
  .page-footer__partnership-bg {
    background-color: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 65px;
    padding: 30px 70px 20px 50px; }
  .page-footer__logo {
    margin: 30px 0 0 0;
    padding: 0 30px; }
  .page-footer__social {
    width: 130px;
    margin-top: 10px;
    border: none; }
  .page-footer__copyright {
    margin-top: 10px; }
  .page-footer__social-contacts {
    margin: 0; }
  .page-footer__map {
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    width: 100%;
    padding: 0; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-footer__map {
      background-image: url("../img/bg-map-tablet@1x.png"), url("../img/bg-map-tablet@2x.png");
      background-size: 767px; } }

@media (min-width: 1300px) {
  .page-footer__logo {
    margin: 30px 0 0 0;
    padding: 0 40px; }
  .page-footer__copyright {
    padding-right: 20px; }
  .page-footer__partnership {
    width: 500px;
    position: absolute;
    margin-left: 40px;
    margin-top: 80px;
    padding: 40px; }
  .page-footer__partnership-bg {
    background-color: white; }
  .page-footer__map {
    background-image: url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
    margin-top: -20px; } }
  @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
    .page-footer__map {
      background-image: url("../img/bg-map-desktop@1x.png"), url("../img/bg-map-desktop@2x.png 2x");
      background-size: 1300px; } }

.catalog-extra {
  padding: 0 20px; }

.catalog-extra__header {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 20px; }

.catalog-extra__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 130px;
  margin: auto; }
  .catalog-extra__item--name {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    padding-top: 13px;
    margin-bottom: 15px;
    border-top: 1px solid #d9d9d9; }
  .catalog-extra__item--about, .catalog-extra__item--price {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 14px; }

.catalog-extra__order {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #68b738;
  padding: 10px 100px 10px 120px;
  margin-top: 14px; }

.catalog-extra__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (min-width: 768px) {
  .catalog-extra {
    padding: 0 30px; }
  .catalog-extra__item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 40px 0 38px; }
  .catalog-extra__item {
    position: relative;
    border: 1px solid #d9d9d9;
    width: 100%;
    padding-bottom: 7px; }
    .catalog-extra__item--name {
      border: none;
      font-size: 20px;
      line-height: 20px;
      padding-top: 0;
      margin-top: 25px; }
    .catalog-extra__item--about {
      margin-right: 60px; }
  .catalog-extra__item-info {
    margin-top: 15px; }
  .catalog-extra__header {
    border: none;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin: 53px 0 80px 66px; }
  .catalog-extra__link {
    margin: 6px 40px 0 38px; }
  .catalog-extra__order {
    margin: 0;
    padding: 10px 285px 10px 285px; } }

@media (min-width: 1300px) {
  .catalog-extra {
    padding: 0 40px;
    width: 895px;
    margin-bottom: 100px; }
  .catalog-extra__header {
    margin: 60px 0 80px 0;
    padding: 0 40px; }
  .catalog-extra__item-wrap {
    width: 610px;
    margin: 0;
    padding-top: 26px;
    padding-bottom: 26px; }
  .catalog-extra__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    height: 100%; }
    .catalog-extra__item--name {
      margin: 0;
      padding: 0;
      border: none; }
    .catalog-extra__item--about {
      width: 190px;
      text-align: left; }
  .catalog-extra__item-info {
    margin-top: 5px; }
  .catalog-extra__order {
    padding: 10px 92px 10px 92px; }
  .catalog-extra__link {
    margin: 10px 0 0 0; } }

.present {
  text-align: center;
  padding: 0 20px;
  margin-top: 53px; }

.present__wrap {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #72b649;
  width: 280px;
  height: 290px;
  position: relative; }

.present__img {
  position: absolute;
  margin-top: 65px;
  margin-left: 110px; }

.present__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding-top: 185px;
  padding-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px; }

@media (min-width: 768px) {
  .present {
    padding: 0 30px 10px 30px;
    margin-top: 70px; }
  .present__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-color: #72b649;
    width: 708px;
    height: 200px;
    margin: 0; }
  .present__text {
    padding: 0;
    margin-top: 73px;
    margin-left: 425px;
    width: 167px;
    text-align: left; }
  .present__img {
    margin-left: 90px; } }

@media (min-width: 1300px) {
  .present {
    padding: 0;
    position: absolute;
    top: 1525px;
    right: 40px; }
  .present__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: #72b649;
    width: 250px;
    height: 290px; }
  .present__text {
    width: 180px;
    text-align: center;
    margin: 185px  0 0 30px; }
  .present__img {
    position: absolute;
    margin-top: 65px;
    margin-left: 90px; } }

.profile-pet__form {
  padding: 0 20px; }

.profile-pet__form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px; }

.profile-pet__header {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 45px;
  padding-left: 20px; }

.profile-pet__text {
  font-size: 16px;
  line-height: 18px; }

.profile-pet__fill-form {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin: 20px 40px 40px 0;
  padding-left: 20px; }

label {
  text-transform: uppercase;
  margin-right: 14px; }

input[type="text"] {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0 12px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

@media (min-width: 768px) {
  .profile-pet__wrap {
    padding: 0 70px; }
  .profile-pet__header {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    padding-left: 30px;
    margin-top: 53px; }
  .profile-pet__fill-form {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 55px;
    padding: 0 70px;
    width: 350px; }
  .profile-pet__text {
    font-size: 20px;
    line-height: 20px; }
  label {
    text-transform: uppercase;
    margin-right: 18px; }
  .profile-pet__form {
    margin: 66px 0 0 0;
    padding: 0; }
  .profile-pet__form-wrap {
    margin-bottom: 20px; }
  input[type="text"] {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 0 15px 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }

@media (min-width: 1300px) {
  .profile-pet__header {
    margin-top: 85px;
    padding: 0 40px; }
  .profile-pet__fill-form {
    padding: 0 40px;
    margin: 55px 0 0 0; }
  .profile-pet__wrap {
    margin: 0;
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .profile-pet__form {
    margin: 67px 80px 0 0; }
  .profile-pet__form-wrap {
    margin-bottom: 23px;
    width: 570px; }
  .profile-pet {
    padding: 0; }
  .profile-owner__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

.profile-owner {
  padding: 0 20px; }

.profile-owner__wrap {
  margin-top: 33px; }

.profile-owner__form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
  position: relative;
  z-index: -1; }

input[type="email"],
input[type="tel"] {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0 12px 0;
  width: 190px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.profile-owner__email-pic-wrap,
.profile-owner__tel-pic-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.profile-owner__email-pic,
.profile-owner__tel-pic {
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 1; }

.profile-owner__contacts {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 29px;
  margin-right: 70px; }

.profile-owner__text {
  font-size: 16px;
  line-height: 18px; }

@media (min-width: 768px) {
  .profile-owner {
    padding: 0 70px; }
  .profile-owner__wrap {
    margin-top: 76px; }
  .profile-owner__contacts {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-top: 75px; }
  .profile-owner__text {
    font-size: 20px;
    line-height: 20px; }
  input[type="email"],
  input[type="tel"] {
    font-size: 20px;
    line-height: 20px;
    padding: 12px 0 20px 0; }
  .profile-owner__email-pic,
  .profile-owner__tel-pic {
    right: 15px;
    top: 15px; } }

@media (min-width: 1300px) {
  .profile-owner {
    padding: 0 40px; }
  .profile-owner__form-wrap {
    width: 515px;
    margin-right: 80px; }
  .profile-owner__contacts {
    margin-top: 47px; }
  .profile-owner__wrap {
    margin-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .profile-owner__email-pic,
  .profile-owner__tel-pic {
    right: 15px;
    top: 15px; } }

.comments-form {
  padding: 0 20px; }

.comments-form__wrap {
  margin-top: 29px; }

.comments-form__main {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400; }

textarea {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  width: 275px;
  height: 145px;
  margin-top: 19px; }

@media (min-width: 768px) {
  .comments-form {
    padding: 0 50px;
    margin-top: 65px; }
  .comments-form__main {
    font-size: 36px;
    line-height: 36px;
    padding: 0 20px; }
  .comments-form__wrap {
    padding: 0 20px; }
  textarea {
    font-size: 20px;
    line-height: 20px;
    width: 627px;
    height: 170px;
    margin-top: 52px; } }

@media (min-width: 1300px) {
  .comments-form {
    padding: 0;
    margin-top: 48px; }
  textarea {
    width: 1100px; }
  .comments-form__wrap {
    padding: 0 40px; }
  .comments-form__main {
    padding: 0; } }

.programs-more {
  padding: 0 20px; }

.programs-more__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 30px; }

.programs-more__list {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  margin-top: 40px; }

.programs-more__label {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;
  margin-left: 45px; }

.programs-more__input + label::before {
  content: "";
  position: absolute;
  background-color: white;
  background-clip: content-box;
  width: 29px;
  height: 29px;
  border: 1px solid #d9d9d9;
  top: -6px;
  left: -45px;
  margin-bottom: 10px; }

.programs-more__link-wrap {
  padding: 0 20px;
  margin-top: 48px;
  margin-bottom: 90px; }

.programs-more__link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #68b738;
  padding: 8px 78px 8px 78px; }

@media (min-width: 768px) {
  .programs-more {
    padding: 0 50px; }
  .programs-more__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 64px;
    padding: 0 20px; }
  .programs-more__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 20px;
    line-height: 20px;
    margin-top: 66px;
    padding: 0 55px 0 20px; }
  .programs-more__input + label::before {
    content: "";
    position: absolute;
    background-color: white;
    background-clip: content-box;
    width: 39px;
    height: 39px; }
  .programs-more__label {
    display: block;
    position: relative;
    cursor: pointer; }
  .programs-more__head {
    margin-bottom: 30px;
    text-align: left;
    width: 250px; }
  .programs-more__link-wrap {
    padding: 0 70px;
    margin-top: 25px; }
  .programs-more__link {
    font-size: 20px;
    padding: 10px 66px 10px 66px; } }

@media (min-width: 1300px) {
  .programs-more {
    padding: 0 20px; }
  .programs-more__link-wrap {
    padding: 0;
    margin-top: 40px; }
  .programs-more__link {
    font-size: 20px;
    margin-left: 40px;
    padding: 11px 207px 11px 207px; } }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff") format("wff"), url("../fonts/oswaldmedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff") format("wff"), url("../fonts/oswaldregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.main-nav {
  position: relative; }

.main-nav__toggle {
  position: absolute;
  display: block;
  background-image: url("../img/icon-mobile-menu.svg");
  background-color: white;
  background-repeat: no-repeat;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  top: -28px;
  right: 20px;
  z-index: 2; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 221px;
  left: 275px;
  width: 24px;
  height: 2px; }

.main-nav--opened .main-nav__toggle {
  background-color: white;
  background-image: none; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: black;
    top: 6px;
    right: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main-nav--nojs .site-list__item {
  display: block; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--closed .main-nav__wrapper {
    display: none; } }

@media (min-width: 768px) {
  .main-nav {
    margin-top: 25px; }
  .main-nav__list {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-nav__toggle {
    display: none; } }

@media (min-width: 1300px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.page-header__logo-link {
  margin-top: 12px;
  padding: 0 20px; }

.page-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }

@media (min-width: 768px) {
  .page-header__logo-image {
    margin: 10px 0 0 5px; }
  .page-header__logo-link {
    padding: 0;
    margin-right: 84px; }
  .page-header__menu {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 20px; } }

@media (min-width: 1300px) {
  .page-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 40px; }
  .page-header__logo-link {
    margin-top: 20px; }
  .page-header__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0; } }

.site-list {
  margin-top: 15px;
  margin-bottom: -29px; }

.site-list__item {
  text-transform: uppercase;
  position: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
  border: 1px solid #e6e6e6; }

.site-list__item a {
  color: black; }

@media (min-width: 768px) {
  .site-list__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding: 0;
    margin: 0;
    border: none; }
  .site-list__item:nth-child(1),
  .site-list__item:nth-child(2) {
    margin-right: 35px; } }

@media (min-width: 1300px) {
  .site-list__item a {
    font-size: 20px;
    line-height: 25px;
    color: black; }
  .site-list__item-desk a {
    color: white; }
  .site-list__item {
    margin-top: 15px; }
  .site-list__item:nth-child(1),
  .site-list__item:nth-child(2) {
    margin-right: 35px; } }

.copyright__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 16px;
  margin-top: 30px;
  padding-left: 20px;
  color: black; }
  .copyright__text:active {
    opacity: 0.5; }

.copyright__link {
  padding-right: 15px; }

.copyright__link-img {
  position: relative;
  margin-left: 126px;
  top: 15px; }
  .copyright__link-img:hover {
    fill: #64b937; }
  .copyright__link-img:active {
    fill: #c8e2bd; }

@media (min-width: 768px) {
  .copyright__text {
    margin-top: 20px; }
  .copyright__link-img {
    margin-left: 5px; } }

.example-check__wrap {
  margin-top: 24px; }

.example-check {
  list-style: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 0 0 25px 0;
  margin: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }

.example-check__label {
  display: block;
  position: relative;
  cursor: pointer;
  margin-top: 26px;
  margin-left: 65px; }

.example-check__input + label::before {
  content: "";
  position: absolute;
  background-color: white;
  background-clip: content-box;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  top: -7px;
  left: -45px;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .example-check__wrap {
    margin-top: 73px;
    border: 1px solid #d9d9d9; }
  .example-check {
    font-size: 20px;
    line-height: 20px;
    border: none;
    padding: 0; }
  .example-check__label {
    margin: 34px 0 33px 85px; }
  .example-check__input + label::before {
    content: "";
    position: absolute;
    background-color: white;
    background-clip: content-box;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    top: -10px;
    left: -56px; } }

@media (min-width: 1300px) {
  .example-check__wrap {
    margin-top: 67px;
    width: 570px;
    height: 194px; } }

/*# sourceMappingURL=style.css.map */
